@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="text-center">
<h1 class="display-7"> Государственное бюджетное образовательное учреждение профессионального образования города Севастополя «Севастопольский торгово-экономический техникум»</h1>



<p> Государственное бюджетное образовательное учреждение профессионального образования города Севастополя "Севастопольский торгово-экономический техникум" – учреждение профессионального образования, работающее на рынке образовательных услуг уже более 50 лет. История образовательного учреждения начинается с 1949 года открытием школы кулинарного ученичества. С 01.09.1964 г. на базе школы торгово-кулинарного ученичества организуется Севастопольский техникум советской торговли. В 1991 г. переименован в Севастопольский коммерческий техникум (приказ Министерства торговли УССР от 19.09.1991 № 91). </p>
<p> </p>
<p> В соответствии с постановлением Кабинета Министров Украины от 18.01.1992 № 15 «О передаче учебных заведений Министерства внешних экономических связей и торговли в систему Минобразования Украины» техникум был передан в подчинение Министерству образования и науки Украины и внесен в Единый государственный реестр предприятий и организации Украины 03.10.1997 года. </p>
<p> </p>
<p> Постановлением Правительства Севастополя № 522 от 28.11.2014 создано Государственное бюджетное образовательное учреждение профессионального образования города Севастополя «Севастопольский торгово-экономический техникум» (ГБОУПО «СТЭТ») с использованием в качестве базы для его создания и развития образовательного учреждения города Севастополя «Севастопольский коммерческий техникум». Учредителем ГБОУПО «СТЭТ» является Департамент образования и науки города Севастополя. </p>
<p> </p>
<p> За время существования техникума многие выпускники образовательной организации стали высококвалифицированными специалистами и руководителями предприятий сферы услуг города Севастополя и Крымского региона. Опытные, талантливые преподаватели образовательного учреждения обеспечивают высокий уровень подготовки, общее и профессиональное развитие личности, становление профессиональной культуры обучающихся. Студенты ГБОУПО "СТЭТ" - активные участники, победители и призёры городских, всероссийских, международных конкурсов, чемпионатов, олимпиад профессионального мастерства.</p>
<p> </p>
<p> За время существования техникума многие выпускники образовательной организации стали высококвалифицированными специалистами и руководителями предприятий сферы услуг города Севастополя и Крымского региона. Опытные, талантливые преподаватели образовательного учреждения обеспечивают высокий уровень подготовки, общее и профессиональное развитие личности, становление профессиональной культуры обучающихся. Студенты ГБОУПО "СТЭТ" - активные участники, победители и призёры городских, всероссийских, международных конкурсов, чемпионатов, олимпиад профессионального мастерства. </p>
<p> </p>
<p> Обеспечение практической подготовки обучающихся производится согласно договорам с предприятиями города и региона, позволяя будущим выпускникам не только научиться применять полученные теоретические знания, приобрести опыт работы в реальной производственной среде, но и сделать заявку будущим работодателям о трудоустройстве в перспективе.

</p>
<p> </p>
<p> </p>
<h1 class="display-7"> Структура и органы управления образовательной организацией</h1>
<p> </p>
<p> </p>
<p> Управление ГБОУПО «СТЭТ» осуществляется в соответствии с федеральными законами, законами и иными нормативными правовыми актами города Севастополя и Уставом ГБОУПО «СТЭТ» на принципах единоначалия и самоуправления.

Исполнительным органом ГБОУПО «СТЭТ» является директор. Заместители директора назначаются на должность директором ГБОУПО «СТЭТ» по согласованию с Департаментом образования и науки города Севастополя.

Коллегиальными органами управления ГБОУПО «СТЭТ» являются: Общее собрание, Совет учреждения, Педагогический совет, Попечительский совет, Административный совет, Методический совет, Родительский комитет, Студенческий
совет, Профсоюзный комитет.

Высшим коллегиальным органом управления ГБОУПО «СТЭТ» является Общее собрание ГБОУПО «СТЭТ». Коллегиальным органом управления в период между Общими собраниями является Совет учреждения.

Педагогический совет - орган управления, объединяющий педагогических работников в решении вопросов учебно-воспитательной и методической работы, физического воспитания обучающихся и других вопросов деятельности ГБОУПО «СТЭТ».

Попечительский совет создаётся в ГБОУПО «СТЭТ» в целях дополнительного привлечения внебюджетных финансовых средств для обеспечения деятельности ГБОУПО «СТЭТ». Целью деятельности Попечительского совета является поддержка ГБОУПО «СТЭТ», в том числе финансовое и материальное содействие, правовое обеспечение, защита и поддержка прав и интересов ГБОУПО «СТЭТ», его обучающихся и работников.

Административный совет создается для решения текущих вопросов деятельности ГБОУПО «СТЭТ». В состав Административного совета входят: Директор, заместители директора, заведующие отделениями, председатель Методического совета ГБОУПО «СТЭТ», главный бухгалтер, председатель профкома, инспектор по кадрам, а также по решению директора руководители других структурных подразделений ГБОУПО «СТЭТ».

Методический совет ГБОУПО «СТЭТ» создается в целях совершенствования качества обучения и воспитания обучающихся, организации методической работы, повышения педагогического мастерства преподавателей, методического обеспечения реализации федеральных государственных образовательных стандартов, разработки и экспертизы учебно-методической документации и для решения других вопросов учебно-методической деятельности ГБОУПО «СТЭТ».

В целях учета мнения обучающихся, родителей (законных представителей) несовершеннолетних обучающихся и педагогических работников по вопросам управления ГБОУПО «СТЭТ» и при принятии ГБОУПО «СТЭТ» локальных нормативных актов, затрагивающих их права и законные интересы, по инициативе обучающихся, родителей (законных представителей) несовершеннолетних обучающихся и педагогических работников в ГБОУПО «СТЭТ» создаются коллегиальные органы управления:

- Родительский комитет (совет родителей (законных представителей) несовершеннолетних обучающихся);

- Студенческий совет (совет обучающихся);

- Профсоюзный комитет (представительный орган работников ГБОУПО «СТЭТ»).</p>




</div>