@page
@model PrivacyModel
@{
ViewData["Title"] = "Контакты и местоположение";
}
<h1>@ViewData["Title"]</h1>
<p> </p>
<p> </p>
<div class= "col-md-10">
<p> Место нахождения ГБОУПО «СТЭТ» (юридический адрес): 299007, г. Севастополь, улица Кожанова, 2.</p>
<p> </p>
<h1 class="display-9"> Номера телефонов: </h1>
<p> +7 (8692)-54-36-04 </p>
<p> +7 (8692)-40-40-94 </p>
<p> </p>
<h1 class="display-9"> Электронная почта: </h1> <p>
<p> sevcomt@sev.gov.ru </p>
<p> </p>
<h1 class="display-9"> Оффициальный сайт </h1> <p>
<p> https://sevtet.ru/</p>

</div>